body {
    color: black;
    background-color: rgb(208, 206, 255);
    font-size: 1.5em;
}

.title {
    font-variant: small-caps;
    letter-spacing: 10px;
}

.bolded {
    font-weight: bolder;
}

.under {
    text-decoration: underline;
}

hr {
    border-top: 1px solid black;
}

.it {
    font-style: italic;
}