main, header, nav, aside, section, article, footer {
    border: 1px solid magenta;
    margin: 5px;
    padding: 5px;
    background-color: wheat;
}

article {
    background-color: darkblue;
    color: white;
    border: 2px solid red;
}

main, section {
    padding: 0;
}

main {
    max-width: 1400px;
    margin: 5px  auto;
}

body {
    margin: 0;
}
